#    Copyright (C) 2022 7thCore
#    This file is part of AvnSrv-Script.
#
#    AvnSrv-Script is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    AvnSrv-Script is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Unit]
Description=Avorion TmpFs Server Service
Requires=avnsrv-mkdir-tmpfs@%i.service
After=network.target srv-avnsrv-tmpfs.mount avnsrv-mkdir-tmpfs@%i.service
Conflicts=avnsrv@%i.service
StartLimitBurst=3
StartLimitIntervalSec=300
StartLimitAction=none
OnFailure=avnsrv-send-notification@.service

[Service]
EnvironmentFile=/srv/avnsrv/environments/%i.env
Type=forking
KillMode=none
WorkingDirectory=/srv/avnsrv/tmpfs/%i
ExecStartPre=/usr/bin/avnsrv-script pre-start %i tmpfs
ExecStartPre=/usr/bin/avnsrv-script server_tmux_install %i
ExecStart=/usr/bin/tmux -f /tmp/%u-%i-tmux.conf -L %u-%i-tmux.sock new-session -d -s AvnSrv '/srv/avnsrv/tmpfs/%i/bin/AvorionServer --galaxy-name <GALAXYNAME> --admin <ADMIN> --datapath <GALAXY_PATH>'
ExecStartPost=/usr/bin/avnsrv-script post-start %i
ExecStop=/usr/bin/avnsrv-script pre-stop %i
ExecStop=/usr/bin/tmux -L %u-%i-tmux.sock send-keys -t AvnSrv.0 '/say SERVER SHUTTING DOWN IN 10!' ENTER
ExecStop=/usr/bin/sleep 5
ExecStop=/usr/bin/tmux -L %u-%i-tmux.sock send-keys -t AvnSrv.0 '/say SERVER SHUTTING DOWN IN 5!' ENTER
ExecStop=/usr/bin/sleep 5
ExecStop=/usr/bin/tmux -L %u-%i-tmux.sock send-keys -t AvnSrv.0 '/say SERVER SHUTTING DOWN NOW!' ENTER
ExecStop=/usr/bin/tmux -L %u-%i-tmux.sock send-keys -t AvnSrv.0 '/save' ENTER
ExecStop=/usr/bin/tmux -L %u-%i-tmux.sock send-keys -t AvnSrv.0 '/stop' ENTER
ExecStopPost=/usr/bin/avnsrv-script post-stop %i tmpfs
TimeoutStartSec=infinity
TimeoutStopSec=120
RestartSec=10
Restart=on-failure

[Install]
WantedBy=default.target
